* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Shantell Sans', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Header qismini yasashni boshlaymiz */

header {
    height: 60px;
    line-height: 60px;
    background-color: #6A7D7C;
}

.navbar {
    position: fixed;
    max-width: 20000px;
    width: 100%;
}

.navbar-logo {
    font-size: 35px;
    margin-left: 100px;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

.navbar-links {
    float: right;
    display: flex;
    margin-right: 100px;
}

.navbar-links .links {
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
}

.navbar-links .links:hover {
    transition: .3s;
    border-bottom: 4px solid #3f5160;
}

/* Navbar qismini responsive qilamiz */

/* For Tablet */

@media only screen and (max-width: 1300px) {
    .navbar-links {
        background-color: #6A7D7C;
        margin-right: 30px;
    }
}

/* For Phone  */

@media only screen and (max-width: 500px) {
    .navbar-logo {
        margin-left: 140px;
        float: none;
        font-size: 25px;
    }
    .navbar-links {
        margin-right: 0px;
        font-size: 10px;
        float: none;
    }
    .navbar-links .links {
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-left: 7px;
        margin-right:10px;
    }

    .fa-moon {
        line-height: 60px;
        color: #fff;
        margin-left: 20px;
    }
    .fa-moon:hover {
        color: #000;
        transition: .5s;
    }
}